<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ViewMode" value="Duplicate" />
    <add key="CaptureRegion" value="0,0,640,480" />
    <add key="CaptureMode" value="Sync" />
    <add key="ShowMouseCursor" value="False" />
    <add key="Distortion" value="1" />
    <add key="XShift" value="-0.04599974" />
    <add key="Zoom" value="1.6000000" />
    <add key="Flip" value="False" />
  </appSettings>
</configuration>